
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=La+Belle+Aurore&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
html, body {
    scroll-behavior: smooth;
  }
  @layer utilities {
    .animate-scroll-infinite {
      animation: scroll 40s linear infinite;
    }
    @keyframes scroll {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-1700px); /* Calculated based on the number of slides and their width */
      }
    }
  }
  
  /* Styles for the expanded navbar */
.navbarExpanded {
  max-height: 500px; /* Set a maximum height to prevent overflow */
  transition: max-height 0.5s ease-in-out; /* Add a smooth transition for the max-height property */
  overflow: hidden; /* Hide any content that exceeds the max-height */
}

.navbarCollapsed {
  max-height: 0; /* Set the initial max-height to 0 when collapsed */
  transition: max-height 0.5s ease-in-out; /* Add a smooth transition for the max-height property */
  overflow: hidden; /* Hide any content that exceeds the max-height */
}
/* WebKit (Chrome, Safari, etc.) scrollbar */
::-webkit-scrollbar {
  width: 1px; /* Width of the scrollbar */
  
}


::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
}

::-webkit-scrollbar-thumb {
  background: #fd4a4c; /* Thumb color */
  border-radius: 5px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #d32f2f; /* Hover color */
}
